<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <header>
        <img src="/uploads/logo.png" alt="Logo do Projeto" class="logo" />
        <h2>Novo Cadastro</h2>
    </header>
    <main>
        <form action="/cadastrar" method="post" name="cad" id="cad" class="form-cadastro">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required/>

            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required/>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required/>

            <label for="confSenha">Confirmar Senha:</label>
            <input type="password" name="confSenha" id="confSenha" required/>

            <label for="genero_fav">Gênero Favorito:</label>
            <select name="genero_fav" id="genero_fav" required>
                <option value="" selected>-- Selecione --</option>
                <option value="fantasia">Fantasia</option>
                <option value="ficcao-cientifica">Ficção Científica</option>
                <option value="romance">Romance</option>
                <option value="aventura">Aventura</option>
                <option value="mistério">Mistério</option>
                <option value="terror">Terror</option>
                <option value="biografia">Biografia</option>
                <option value="autoajuda">Autoajuda</option>
                <option value="historia">História</option>
                <option value="drama">Drama</option>
                <option value="poesia">Poesia</option>
                <option value="classicos">Clássicos</option>
                <option value="romance-policial">Romance Policial</option>
                <option value="juvenil">Juvenil</option>
                <option value="literatura-infantojuvenil">Literatura Infantojuvenil</option>
            </select>

            <button type="submit" id="cadastrar" name="cadastrar" class="btn">CADASTRAR</button>
        </form>
        <br/>
        <p><a href="/login" class="link-voltar">Voltar</a></p>
    </main>
    <footer>
        <p>&copy; 2024 Meu Projeto de Livros</p>
    </footer>
    <script src="/js/scriptCad.js"></script>
</body>
</html>
